.home {
  .intro {
    padding: 90px 0 10px;
    border-bottom: 2px dashed @navigation-border;

    img {
      max-width: 100%;
      height: auto;
    }

    #forKeyDown {
      display: flex;
      margin-top: 20px;
      justify-content: center;
      background: #ffecca;
      height: 80px;
      padding: 20px 0px;
      border-radius: 8px;
      input {
        padding: 5px;
      }
    }

    #holder {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0px 20px 0px;

      h2#wheel {
        width: 320px;
        height: 45px;
        background: #9fecff;
        border-radius: 5px;
        padding: 10px;
        color: white;
      }
    }

    .top3Cols {
      display: flex;

      .col {
        background-color: #9fecff;
        width: 33%;
        margin-right: 5px;
        border-radius: 8px;
        padding: 15px;

        #draggable {
          width: 200px;
          height: 35px;
          text-align: center;
          // background: #9fecff;
          padding: 8px;
          font-size: 1.25rem;
        }

        .dropzone {
          width: 200px;
          height: 60px;
          background: #ffecca;
          margin-bottom: 10px;
          padding: 10px;
        }
      }
    }
    .resize {
      background-color: #ffecca;
      margin-top: 20px;
      width: 100%;
      border-radius: 8px;
      padding: 15px;
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        width: 100%;
        padding: 0;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile {
        width: 100%;
        padding: 0;
      }

      img {
        border-radius: 10px;

        @media @mobile {
          width: 100%;
        }
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;

      @media @mobile {
        order: 1;
      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;

      @media @mobile {
        order: 2;
      }
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @mobile {
      width: 100%;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {
      flex-wrap: wrap;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {
        width: 80%;
        margin: 0 auto 30px;
      }

      .btn {
        .button-creator(200px, 45px, @button-bg, @white, 1.8rem);
      }
    }
  }

  .bottom3Cols {
    display: flex;
    margin-bottom: 30px;

    .col {
      background-color: #9fecff;
      width: 33%;
      margin-right: 5px;
      border-radius: 8px;
      padding: 15px;

      #myDIV {
        width: 220px;
        height: 100px;
        overflow-y: scroll;
        font-size: 1.5rem;
        line-height: 1.5;
      }
    }

    .col h5 {
      font-size: 22px;
      padding-bottom: 10px;
    }
  }

  aside {
    background: #ffecca;
    border-radius: 1em;
    display: inline-block;
    padding: 1em;
    transform: scale(0.9);
    transform-origin: 0 0;
    transition: transform 0.6s;
  }

  .large {
    transform: scale(1);
  }

  .stopProp {
    display: flex;
    margin-bottom: 30px;

    .col {
      background-color: #9fecff;
      width: 100%;
      height: 125px;
      border-radius: 8px;
      padding: 15px;

      td {
        font-size: 20px;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px dashed black;
        height: 50px;
      }
    }
  }
} // home
